@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');

/* Variables */
:root {
    /* Fonts */
    --primary-font: "Russo One", sans-serif;
    --secondary-font: "Kanit", sans-serif;
    
    /* Colours */
    --bg-color: #303440;
    --primary-color: #FA4465;
    --secondary-color: #17C7BB;
    --tertiary-color: #3E52AC;
    --tertiary-highlight-color: #7B79FF;
    --transparent-tertiary: hsla(229, 47%, 20%, 0.7);
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: var(--secondary-font);
}

footer {
    margin-top: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Custom Styles */

    /* Header and Nav styles */

    header {
        display: flex;
        height: 3rem;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 99;
        padding: 1rem 0.5rem 0.5rem 1rem;
        margin: 0.25rem;
        background-color: hsla(225, 14%, 22%, 0.37);
    }

    header > a > img {
        width: 2.25rem;
    }

    .text-label i {
        font-size: 1.75rem;
    }

    #nav-toggle:checked ~ nav,
    #nav-toggle:checked ~ .text-label i:last-child {
        display: block;
    }

    #nav-toggle:checked ~ .text-label i:first-child {
        display: none;
    }

    #nav-toggle,
    .text-label i:last-child,
    nav {
        display: none;
    }

    nav {
        padding-top: 1rem;
        position: absolute;
        background-color: var(--tertiary-color);
        width: 100%;
        top: 2.85rem;
        left: 0;
        right: 0;
        z-index: 98;
        text-align: center;
        font-size: 1.75rem;
    }

    nav li {
        padding-bottom: 1rem;
    }

    /* Main and Section styles */
    
    section {
        height: 100vh;
        width: 100vw; 
        padding: 1rem 2rem 1rem 1rem;       
    }

    h1 {
        font-family: var(--primary-font);
        font-size: 2.5rem;  
        letter-spacing: 0.1rem; 
    }

    #god-menu {
        display: none;
    }

    #hero {
        background: url("../images/legends_of_asgard_header.webp") no-repeat 37.5% 70% / cover;
        
    }

    .hero-title {
        width: 85%;
        padding: 2rem 3rem 1rem 1rem;
        color: var(--primary-color);
    }

    .hero-blurb {
        width: 90%;
        padding: 1rem;
        margin: 1rem 2rem 1rem 1rem;
        color: var(--secondary-color);
        background-color: var(--transparent-tertiary);
    }

/* Responsiveness Props */

    /* Media Queries for tablets (screen size 768px+) */
    @media screen and (min-width: 768px) {
        #god-menu {
            display: block;
        }

        header {
            justify-content: center;
        }

        header > a > img {
            width: 3rem;
        }

        #nav-toggle,
        .text-label {
            display: none;
        }
    }
        
    